eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
name:
  value: kofi
spring:
  cloud:
    config:
      override-system-properties: false


